
$font_size_default: 16;
$font_size: 16px;
$line_height: 1.5;
$font_weight: 400;

$font_base: 'Roboto Condensed', sans-serif;


$color_body: #F4F4F9;
$color_text: #000;
$color_black: #000;
$color_white: #ffffff;
$color_red: #f00;
$color_green: #74BC68;
$color_blue: #006B8D;


$padding: 0px;


$trsn: 0.2s;