.top {
  padding-top: 30px;
  margin: 10px 0 30px;

  &__row {
    display: flex;
    align-items: center;
  }

  &__pagename {
    display: flex;
    align-items: center;
    flex: 0 0 355px;
    margin-right: 60px;
    @include m-desktop-small() {
      margin-right: 30px;
    }
  }

  &__pagename-ico {
    flex: 0 0 50px;
    position: relative;
    margin-right: 60px;
  }

  &__pagename-lbl {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
    background: #AEB5BC;
    border-radius: 3px;
    color: $color_white;
    padding: 3px 4px;
    font-size: 14px;
    line-height: 1;
  }

  &__pagename-text {
    line-height: 1;
  }

  &__pagename-title {
    font-size: 30px;
    font-weight: normal;
    white-space: nowrap;
    @include m-desktop-small() {
      font-size: 28px;
    }
  }

  &__pagename-desc {
    color: #8A949F;
    margin-top: 4px;
  }

  &__buttons {
    display: flex;
    margin-left: 80px;
    position: relative;
    @include m-desktop-small() {
      margin-left: 30px;
    }
  }

  &__button {
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 14px;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
    background: #DCDFE3;
    outline: none;
    transition: $trsn;

    svg {
      fill: transparent;
      stroke: #000 ;
      transition: $trsn;
      path{
        stroke: #000 ;
      }
    }

    &.active,
    &:hover {
      background-color: $color_blue;

      svg {
        stroke: $color_white !important;
        path{
          stroke: $color_white !important;
        }
      }
    }

    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}
